@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background: #E5E5E5;
  margin: auto;
  max-width: 970px;
}

code {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Rubik', sans-serif;
}
/* @media (max-width: 320px){
body {
    max-width: 290px;
}
} */